.App {
    text-align: center;
  }
  header {
    background-color: rgb(41, 44, 52); 
    color: white;
    margin: none;
  }
  .links {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }
  .link {
    width: 200px;
    height: 200px;
    background-color: rgb(41, 70, 70);
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
  }
  a {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }